<div class="container-2 infoBoxts3viewer">
    <div class="containerIcon"> <img src="{{CDNDomain}}img/ts3/icon24.png" alt=""></div>
    {{#if ts3data.error}}
    <div class="containerContent">
        <div class="error" style="margin-bottom:0;">{{ts3data.error}}</div>
    </div>
    {{else}}
    <div class="containerContent">
        <h3><a href="ts3server://{{ts3data.address}}?port={{ts3data.port}}&amp;nickname={{nickname}}">{{ts3data.name}} - {{ts3data.welcomemessage}}</a> (<a href="http://sa-mp.de/B++/p1064020-/"><small>Teamspeak-Wächter</small></a>)</h3>
        <p class="smallFont">
            {{ts3data.plattform}} {{ts3data.version}}
            - Clients: {{ts3data.clients.length}}/{{ts3data.maxclients}}
            - Channels: {{ts3data.channels.length}}
            - Online seit: {{uptime}}
            - Letzte aktualisierung: <abbr title="{{lastUpdateFormatted}}">{{lastUpdateRelative}}</abbr>
        </p>
        <p class="smallFont">
            {{{userListFormatted}}}
        </p>
        <p class="smallFont">Legende:
            <span style="font-weight:bold; color:#0000A0">Administratoren</span>,
            <span style="font-weight:bold; color:#0E5C0B">Kon-Administratoren</span>,
            <span style="font-weight:bold; color:#FF9900">Super Moderatoren</span>,
            <span style="font-weight:bold; color:#a52a2a">Moderatoren</span>,
            <span style="font-weight:bold; color:#009BFF">Donator's Club</span>,
            <span>Benutzer</span>
        </p>
    </div>
    {{/if}}
</div>
